.footer {
  display: flex;
  align-items: center;
  height: 600px;
  width: 100%;
  margin: auto;
  background-color: rgb(167, 167, 167);

  &_icon_container {
    display: flex;
    width: 80%;
    height: 80%;
    margin: auto;
  }
  &_icons {
    display: flex;
    width: 80%;
    margin: auto;
  }
  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: auto;
  }
  &_img {
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  &_img:hover {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px 5px #000000;
  }
  &_img_img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 650px) {
  .footer_icon_container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .footer_img_img {
    width: 35%;
    height: 35%;
  }
}
