@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
/* * {
  box-shadow: 0 0 0 3px red inset;
} */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Space Grotesk", sans-serif;
}
a:hover {
  cursor: pointer;
}
