@media screen and (max-width: 1000px) {
  .projects {
    &_list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      width: 80%;
    }
  }
  .project {
    border-radius: 50px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

    &_title_container {
      width: auto;
      display: flex;
      text-align: center;
    }
    &_img-container {
      display: block;
      height: 200px;
      width: auto;
    }
    &_img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
    &_description {
      font-size: 24px;
      font-weight: 700;
    }
    &_technos {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
@media screen and (min-width: 1001px) {
  .projects {
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 50px;
    &_text {
      display: flex;
    }
    &_list {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;
    }
  }

  .project {
    background-color: #223a55;
    display: flex;
    max-width: auto;
    height: 270px;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    margin: 20px;
    &_title_container {
      width: 200px;
      display: flex;
      text-align: left;
    }
    &_informations {
      width: 35%;
    }
    &_technos {
      padding: 10px 0;
      font-weight: bold;
    }
    &_img-container {
      display: block;
      width: 270px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: fill;
      margin-left: 50px;
    }
    &_img {
      width: 400px;
      height: auto;
      object-fit: cover;
      border-radius: 15px;
    }
    &_img:hover {
      border: solid 1px grey;
    }
    &_informations {
      font-size: 18px;
    }
  }
}
