@media screen and(max-width:1000px) {
  .skills_title_container {
    height: 400px;
    background-color: red;
  }
  .skills_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .skills_img_container {
    width: 20%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.skills {
  padding-top: 50px;
  min-height: auto;
}

.skills_container {
  display: flex;
  width: 90%;
  margin: auto;
}
.skills_img_container {
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin: 20px;
}
.skills_img {
  width: 100%;
  height: auto;
}
