@media screen and(max-width:1000px) {
  .skills {
    margin-top: 100px;
    padding-top: 50px;
    &_container {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      justify-content: space-evenly;
      margin: auto;
    }
    &_img {
      display: block;
      padding: 5px;
      width: 100px;
      height: 100px;
    }
    &_title_container {
      height: 80px;
    }
  }
}
@media screen and(min-width:1001px ) {
  .skills {
    padding-top: 50px;
    min-height: auto;
    &_container {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      justify-content: space-evenly;
      margin: auto;
    }
    &_img {
      display: block;
      padding: 5px;
      width: 100px;
      height: 100px;
    }
  }
}
